.avatar img{
    width: 150px;
    border-radius: 50%;
}

.userInfo {
    display: flex;
    align-items: center;
    padding: 10px 0 0 10px;
}

.userData {;
    padding-left: 10px;
}
.userData div {
    padding-bottom: 5px;
}
